{% extends 'main.html'%}
{% block title %}Ultimas condiguracion para crear su cuenta / {% endblock title %}
{% block content %}
<div class="bg-nav-primary"></div>
<section id="users-sets">
  <div class="container">
    
    <form action="" method="post">
      {% csrf_token %}
      <div class="row text-center my-5">
        <h2 class="section-title">Set up our user basic information</h2>
      </div>
      <div class="row text-center">
        <div class="mb-2">
          <label for="id_username" class="form-label">Username</label>
          <input type="text" name="username" id="id_username" class="form-control border-2 border-secondary rounded-2" value="{{user.username}}">
        </div>
      </div>
      <div class="row text-center mb-5">
        <div class="col-12 col-sm-6">
          <label for="id_new_password1" class="form-label">Password</label>
          <div class="input-group mb-3">
            <input type="password" name="new_password1" id="id_new_password1" required
              class="form-control border border-secondary border-3 rounded-end-0 rounded-2 text-dark"
              placeholder="Your actual password">
            <div class="input-group-append">
              <span class="input-group-text border border-2 border-start-0 border-secondary rounded-0 rounded-end text-muted"
                onclick="password_show_hide(document.getElementById('id_new_password1'), document.getElementById('show_eye1'), document.getElementById('hide_eye1'));">
                <i class="fa-solid fa-eye h4" id="show_eye1"></i>
                <i class="fa-solid fa-eye-slash d-none h4" id="hide_eye1"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <label for="id_new_password2" class="form-label">Confirm Password</label>
          <div class="input-group mb-3">
            <input type="password" name="new_password2" id="id_new_password2" required
              class="form-control border border-secondary border-3 rounded-end-0 rounded-2 text-dark"
              placeholder="Your actual password">
            <div class="input-group-append">
              <span class="input-group-text border border-2 border-start-0 border-secondary rounded-0 rounded-end text-muted"
                onclick="password_show_hide(document.getElementById('id_new_password2'), document.getElementById('show_eye2'), document.getElementById('hide_eye2'));">
                <i class="fa-solid fa-eye h4" id="show_eye2"></i>
                <i class="fa-solid fa-eye-slash d-none h4" id="hide_eye2"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      {{form.captcha}}
      <div class="d-flex justify-content-center mb-5">
        <button type="submit" class="btn btn-primary">Create user</button>
      </div>
    </form>  
  </div>
</section>
{% endblock content%}
