{% extends 'main.html' %}
{% load i18n %}
{% block metatags %}
<meta name="description" content="Las politicas de privacidad de Carbono Smart">
<meta name="keywords" content="Politicas de privacidad Carbono Smart">
{% endblock metatags %}
{% block title %} {% translate "Politicas de Privacidad /" %} {% endblock title %}

{% block header%} Politicas de privacidad de <span translate="no">Carbono Smart</span> {% endblock header%}
{% load static %}
{% block content %}
<div class="bg-nav-secondary"></div>
<section id="priv-policy">
    <div class="container logo position-relative">    
        <div class="logo-img">
            <img src="{% static 'assets/images/cfp-logo.png'%}" alt="">
         </div>
    </div>
    <div class="container py-4">
        <div class="row text-center">
            <h1 class="section-title pb-3"><strong translate="no">Carbono Smart</strong>, Políticas de privacidad</h1>
            <p>En <span translate="no">Carbono Smart</span>, accesible desde carbonosmart.com, una de nuestras principales prioridades es la privacidad de nuestros visitantes. Este documento de Política de privacidad contiene los tipos de información que se recopilan y registran por parte de <span translate="no">Carbono Smart</span> y cómo la utilizamos.</p>
            <p>Si tiene preguntas adicionales o necesita más información sobre nuestra Política de privacidad, no dude en contactarnos.</p>
            <p>Esta Política de privacidad se aplica solo a nuestras actividades en línea y es válida para los visitantes de nuestro sitio web en lo que respecta a la información que comparten y/o recopilan en <span translate="no">Carbono Smart</span>. Esta política no es aplicable a ninguna información recopilada sin conexión o a través de canales distintos a este sitio web.</p>
            <p>En <span translate="no">Carbono Smart</span>, accesible desde carbonosmart.com, una de nuestras principales prioridades es la privacidad de nuestros visitantes. Este documento de Política de privacidad contiene los tipos de información que se recopilan y registran por parte de <span translate="no">Carbono Smart</span> y cómo la utilizamos.</p>
            <p>Si tiene preguntas adicionales o necesita más información sobre nuestra Política de privacidad, no dude en contactarnos.</p>
            <p>Esta Política de privacidad se aplica solo a nuestras actividades en línea y es válida para los visitantes de nuestro sitio web en lo que respecta a la información que comparten y/o recopilan en <span translate="no">Carbono Smart</span>. Esta política no es aplicable a ninguna información recopilada sin conexión o a través de canales distintos a este sitio web.</p>
        </div>
        <div class="row text-center mt-5">
            <h2 class="section-subtitle pb-2">Consentimiento</h2>
            <p>Al utilizar nuestro sitio web, usted acepta nuestra Política de privacidad y acepta sus términos.</p>
        </div>
        <div class="row text-center">
            <h2 class="section-subtitle pb-2">Información que recopilamos</h2>    
            <p>La información personal que se le solicita proporcionar, y las razones por las que se le solicita proporcionarla, se le explicarán claramente en el momento en que se le solicite proporcionar su información personal.</p>
            <p>Si se pone en contacto con nosotros directamente, podemos recibir información adicional sobre usted, como su nombre, dirección de correo electrónico, número de teléfono, el contenido del mensaje y/o adjuntos que nos envíe, y cualquier otra información que elija proporcionar.</p>
            <p>Cuando se registre para obtener una cuenta, podemos solicitar su información de contacto, incluidos elementos como nombre, nombre de la empresa, dirección, dirección de correo electrónico y número de teléfono.</p>
        </div>
        <div class="row text-center pb-2">
            <h2 class="section-subtitle pb-2">Cómo utilizamos su información</h2>
            <p>Utilizamos la información que recopilamos de diversas formas, incluyendo:</p>

            <ul class="list-unstyled text-start" style="max-width:70%; margin: 0 0 0 auto;">
                <li class="mt-2"><i class="fa-regular fa-circle-dot me-2 text-small"></i>Proporcionar, operar y mantener nuestro sitio web</li>
                <li class="mt-2"><i class="fa-regular fa-circle-dot me-2 text-small"></i>Mejorar, personalizar y ampliar nuestro sitio web</li>
                <li class="mt-2"><i class="fa-regular fa-circle-dot me-2 text-small"></i>Comprender y analizar cómo utiliza nuestro sitio web</li>
                <li class="mt-2"><i class="fa-regular fa-circle-dot me-2 text-small"></i>Desarrollar nuevos productos, servicios, funciones y funcionalidades</li>
                <li class="mt-2"><i class="fa-regular fa-circle-dot me-2 text-small"></i>Comunicarnos con usted, ya sea directamente o a través de uno de nuestros socios, incluido el servicio al cliente, para proporcionarle actualizaciones y otra información relacionada con el sitio web, y con fines de marketing y promocionales</li>
                <li class="mt-2"><i class="fa-regular fa-circle-dot me-2 text-small"></i>Enviarle correos electrónicos</li>
                <li class="mt-2"><i class="fa-regular fa-circle-dot me-2 text-small"></i>Encontrar y prevenir fraudes</li>
            </ul>
        </div>
        <div class="row text-center pb-2">
            <h2 class="section-subtitle pb-2">Archivos de registro</h2>
            <p><span translate="no">Carbono Smart</span> sigue un procedimiento estándar para utilizar archivos de registro. Estos archivos registran a los visitantes cuando visitan sitios web. Todos los servicios de alojamiento lo hacen y es una parte de los servicios de análisis de los servicios de alojamiento. La información recopilada por los archivos de registro incluye direcciones de protocolo de Internet (IP), tipo de navegador, proveedor de servicios de Internet (ISP), sello de fecha y hora, páginas de referencia/salida y posiblemente el número de clics. Estos no están vinculados a ninguna información que sea personalmente identificable. El propósito de la información es analizar tendencias, administrar el sitio, rastrear el movimiento de los usuarios en el sitio web y recopilar información demográfica.</p>
        </div>
        <div class="row text-center pb-2">
            <h2 class="section-subtitle pb-2">Cookies y "Web Beacons"</h2>
            <p>Al igual que cualquier otro sitio web, <span translate="no">Carbono Smart</span> utiliza "cookies". Estas cookies se utilizan para almacenar información, incluidas las preferencias de los visitantes, y las páginas del sitio web que el visitante ha accedido o visitado. La información se utiliza para optimizar la experiencia de los usuarios personalizando el contenido de nuestra página web en función del tipo de navegador de los visitantes y/u otra información.</p>
        </div>
        <div class="row text-center pb-2">
            <h2 class="section-subtitle pb-2">Políticas de privacidad de los socios publicitarios</h2>
            <p>Puede consultar esta lista para encontrar la Política de privacidad de cada uno de los socios publicitarios de <span translate="no">Carbono Smart</span>.</p>
            <p>Los servidores de anuncios o las redes publicitarias de terceros utilizan tecnologías como cookies, JavaScript o balizas web que se utilizan en sus respectivos anuncios y enlaces que aparecen en <span translate="no">Carbono Smart</span>, los cuales se envían directamente al navegador de los usuarios. Estas tecnologías se utilizan para medir la eficacia de sus campañas publicitarias y/o para personalizar el contenido publicitario que ve en los sitios web que visita.</p>
            <p>Tenga en cuenta que <span translate="no">Carbono Smart</span> no tiene acceso ni control sobre estas cookies que utilizan los anunciantes de terceros.</p>
        </div>
        <div class="row text-center pb-2">
            <h2 class="section-subtitle pb-2">Políticas de privacidad de terceros</h2>
            <p>La Política de privacidad de <span translate="no">Carbono Smart</span> no se aplica a otros anunciantes o sitios web. Por lo tanto, le recomendamos que consulte las respectivas Políticas de privacidad de estos servidores de anuncios de terceros para obtener información más detallada. Puede incluir sus prácticas e instrucciones sobre cómo excluirse de determinadas opciones.</p>
            <p>Puede optar por desactivar las cookies a través de las opciones individuales del navegador. Para obtener información más detallada sobre la gestión de cookies con navegadores web específicos, puede encontrarla en los sitios web respectivos de los navegadores.</p>
        </div>
        <div class="row text-center pb-2">
            <h2 class="section-subtitle pb-2">Derechos de privacidad de CCPA (No vender mi información personal)</h2>
            <p>Bajo el CCPA, entre otros derechos, los consumidores de California tienen derecho a:</p>
            <p>Solicitar que un negocio que recopile los datos personales de un consumidor revele las categorías y piezas específicas de datos personales que un negocio ha recopilado sobre los consumidores.</p>
            <p>Solicitar que un negocio elimine cualquier dato personal sobre el consumidor que un negocio haya recopilado.</p>
            <p>Solicitar que un negocio que venda los datos personales de un consumidor no venda los datos personales del consumidor.</p>
            <p>Si hace una solicitud, tenemos un mes para responderle. Si desea ejercer alguno de estos derechos, contáctenos.</p>
        </div>
        <div class="row text-center pb-2">
            <h2 class="section-subtitle pb-2">Derechos de protección de datos del GDPR</h2>
            <p>Queremos asegurarnos de que esté completamente informado de todos sus derechos de protección de datos. Cada usuario tiene derecho a lo siguiente:</p>
            <p>Derecho de acceso: tiene derecho a solicitar copias de sus datos personales. Podemos cobrarle una pequeña tarifa por este servicio.</p>
            <p>Derecho de rectificación: tiene derecho a solicitar que corrijamos cualquier información que crea que es in
            exacta. También tiene derecho a solicitar que completemos la información que crea que está incompleta.</p>
            <p>Derecho de supresión: tiene derecho a solicitar que borremos sus datos personales, bajo ciertas condiciones.</p>
            <p>Derecho de limitación del procesamiento: tiene derecho a solicitar que restrinjamos el procesamiento de sus datos personales, bajo ciertas condiciones.</p>
            <p>Derecho de oposición al procesamiento: tiene derecho a oponerse al procesamiento de sus datos personales, bajo ciertas condiciones.</p>
            <p>Derecho a la portabilidad de datos: tiene derecho a solicitar que transfiramos los datos que hemos recopilado a otra organización o directamente a usted, bajo ciertas condiciones.</p>
            <p>Si realiza una solicitud, tenemos un mes para responderle. Si desea ejercer alguno de estos derechos, contáctenos.</p>
        </div>
        <div class="row text-center pb-2">
            <h2 class="section-subtitle pb-2">Información para niños</h2>
            <p>Otra parte de nuestra prioridad es agregar protección para los niños mientras usan Internet. Alentamos a los padres y tutores a observar, participar y/o supervisar y guiar su actividad en línea.</p>
            <p><span translate="no">Carbono Smart</span> no recopila a sabiendas ninguna información de identificación personal de niños menores de 13 años. Si cree que su hijo ha proporcionado este tipo de información en nuestro sitio web, le recomendamos encarecidamente que se comunique con nosotros de inmediato y haremos todo lo posible para eliminar rápidamente dicha información de nuestros registros.</p>
        </div>
        <div class="row text-center pb-2">
            <h2 class="section-subtitle pb-2">Cambios en esta Política de privacidad</h2>
            <p>Podemos actualizar nuestra Política de privacidad de vez en cuando. Por lo tanto, le recomendamos que revise esta página periódicamente para ver si hay cambios. Le notificaremos cualquier cambio publicando la nueva Política de privacidad en esta página. Estos cambios son efectivos inmediatamente, después de su publicación en esta página.</p>
        </div>
        <div class="row text-center pb-2">
            <h2 class="section-subtitle pb-2">Contáctenos</h2>
            <p>Si tiene alguna pregunta o sugerencia sobre nuestra Política de privacidad, no dude en contactarnos.</p>
        </div>
    </div>
</section>

{% endblock content %}