{% extends 'main.html' %}
{% load i18n %}
{% block metatags %}
<meta name="description" content="Las Terminos de uso de Carbono Smart">
<meta name="keywords" content="Terminos de uso Carbono Smart">
{% endblock metatags %}
{% block title %} {% translate "Terminos de uso /" %} {% endblock title %}

{% block header %}Terminos de uso dentro de <span translate="no">Carbono Smart</span>{% endblock header %}
{% block content %}
{% load static %}
<div class="bg-nav-secondary"></div>
<section id="term-use">
    <div class="container logo position-relative">    
        <div class="logo-img">
            <img src="{% static 'assets/images/cfp-logo.png'%}" alt="">
         </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <h1 class="section-title my-4">Términos de Uso del Sitio Web <span translate="no">Carbono Smart</span></h1>
            <p>Versión 1.0</p>
            <p>El sitio web <span translate="no">Carbono Smart</span> ubicado en carbonosmart.com es un trabajo con derechos de autor perteneciente a Carbono
            Smart. Ciertas características del sitio pueden estar sujetas a pautas, términos o reglas adicionales que se publicarán
            en el sitio en relación con dichas características.</p>
            <p>Todos esos términos, pautas y reglas adicionales se incorporan por referencia a estos Términos.</p>
            <p>Estos Términos de Uso describen los términos y condiciones legalmente vinculantes que supervisan su uso del sitio. AL
            INGRESAR AL SITIO, USTED CUMPLE CON ESTOS TÉRMINOS y declara que tiene la autoridad y capacidad para aceptar estos
            Términos. DEBE TENER AL MENOS 13 AÑOS DE EDAD PARA ACCEDER AL SITIO. SI NO ESTÁ DE ACUERDO CON TODAS LAS DISPOSICIONES
            DE ESTOS TÉRMINOS, NO INICIE SESIÓN Y/O USE EL SITIO.<p>
            <p>Estos términos requieren el uso de la sección 10.2 de arbitraje de manera individual para resolver disputas y también
            limitan los recursos disponibles para ti en caso de una disputa.</p>
        </div>
        <div class="row text-center mb-2">
            <h2 class="section-subtitle mb-2">Acceso al Sitio</h2>
            <p><strong>Sujeto a estos Términos.</strong> La empresa te otorga una licencia no transferible, no exclusiva, revocable y
            limitada para acceder al Sitio únicamente para tu uso personal y no comercial.</p>
            <p><strong>Ciertas Restricciones.</strong> Los derechos concedidos en estos Términos están sujetos a las siguientes
            restricciones: (a) no podrás vender, alquilar, arrendar, transferir, asignar, distribuir, alojar o explotar
            comercialmente el Sitio; (b) no podrás modificar, crear obras derivadas, desmontar, compilar inversamente o ingeniería
            inversa de ninguna parte del Sitio; (c) no podrás acceder al Sitio con el fin de construir un sitio web similar o
            competitivo; y (d) salvo que se indique expresamente aquí, ninguna parte del Sitio podrá ser copiada, reproducida,
            distribuida, republicada, descargada, mostrada, publicada o transmitida en ninguna forma o por ningún medio, a menos que
            se indique lo contrario, cualquier versión futura, actualización u otra adición a la funcionalidad del Sitio estará
            sujeta a estos Términos. Todos los derechos de autor y demás avisos de propiedad en el Sitio deben conservarse en todas
            las copias.</p>
            <p>La empresa se reserva el derecho de cambiar, suspender o interrumpir el Sitio con o sin previo aviso. Aceptas que la
            empresa no será responsable ante ti ni ante ningún tercero por cualquier cambio, interrupción o terminación del Sitio o
            de cualquier parte del mismo.</p>
            <p><strong>Sin Soporte o Mantenimiento.</strong> Aceptas que la empresa no tiene la obligación de brindarte ningún tipo de
            soporte en relación con el Sitio.</p>
            <p>A excepción de cualquier Contenido del Usuario que puedas proporcionar, reconoces que todos los derechos de propiedad
            intelectual, incluidos los derechos de autor, patentes, marcas registradas y secretos comerciales, en el Sitio y su
            contenido son propiedad de la empresa o de los proveedores de la empresa. Ten en cuenta que estos Términos y el acceso
            al Sitio no te otorgan ningún derecho, título o interés sobre los derechos de propiedad intelectual, excepto los
            derechos de acceso limitados expresados en la Sección 2.1. La empresa y sus proveedores se reservan todos los derechos
            no otorgados en estos Términos..</p>              
        </div>
        <div class="row text-center mb-2">
            <h2 class="section-subtitle mb-2">Enlaces y anuncios de terceros; Otros usuarios</h2>
            <p><strong>Enlaces y anuncios de terceros.</strong> El Sitio puede contener enlaces a sitios web y servicios de terceros,
            y/o mostrar anuncios de terceros. Estos enlaces y anuncios de terceros no están bajo el control de la empresa, y la
            empresa no se hace responsable de ellos. La empresa proporciona acceso a estos enlaces y anuncios de terceros únicamente
            como conveniencia para ti, y no revisa, aprueba, supervisa, respalda, garantiza ni realiza ninguna representación con
            respecto a ellos. Utilizas todos los enlaces y anuncios de terceros bajo tu propio riesgo, y debes aplicar un nivel
            adecuado de precaución y discreción al hacerlo. Al hacer clic en cualquiera de los enlaces y anuncios de terceros, se
            aplican los términos y políticas correspondientes del tercero, incluidas sus prácticas de privacidad y recopilación de
            datos.</p>
            <p><strong>Otros usuarios.</strong> Cada usuario del Sitio es el único responsable de su propio Contenido del Usuario. Dado
            que no controlamos el Contenido del Usuario, reconoces y aceptas que no somos responsables de ningún Contenido del
            Usuario, ya sea proporcionado por ti o por otros. Aceptas que la empresa no será responsable de ninguna pérdida o daño
            incurrido como resultado de tales interacciones. Si hay una disputa entre tú y cualquier usuario del Sitio, no tenemos
            la obligación de involucrarnos.</p>
            <p>Por la presente, liberas y eximes de forma permanente a la Empresa y a nuestros directivos, empleados, agentes,
            sucesores y cesionarios, y renuncias y cedes, en su totalidad, cualquier disputa, reclamación, controversia, demanda,
            derecho, obligación, responsabilidad, acción y causa de acción pasada, presente y futura, de cualquier tipo y
            naturaleza, que haya surgido o surja directa o indirectamente de, o que esté relacionada directa o indirectamente con el
            Sitio. Si eres residente de California, por la presente renuncias a la sección 1542 del código civil de California en
            relación con lo anterior, que establece: "una liberación general no se extiende a las reclamaciones que el acreedor no
            conoce o sospecha que existen a su favor en el momento de otorgar la liberación, las cuales, de ser conocidas por él,
            podrían haber afectado materialmente su acuerdo con el deudor".</p>         
            <p><strong>Nuestros socios publicitarios.</strong> Algunos de los anunciantes en nuestro sitio pueden utilizar cookies y
            balizas web. A continuación, se enumeran nuestros socios publicitarios. Cada uno de nuestros socios publicitarios tiene
            su propia política de privacidad en lo que respecta a los datos de los usuarios. Para facilitar el acceso, hemos
            proporcionado enlaces a sus políticas de privacidad a continuación.
            </p>
            <!-- <ul>
                <li>
                    <p>Google</p>
                    <p><a href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads</a></p>
                </li>
                <li>
                    <p>Facebook</p>
                    <p><a href="URL de inicio de sesión de terceros de Facebook">URL de inicio de sesión de terceros de Facebook</a></p>
                </li>
                <li>
                    <p>Apple</p>
                    <p><a href="URL de inicio de sesión de terceros de Apple">URL de inicio de sesión de terceros de Apple</a></p>
                </li>
            </ul> -->
        </div>
        <div class="row text-center mb-2">
            <h2 class="section-subtitle mb-2">Descargos de responsabilidad</h2>
            <p>El sitio se proporciona "tal cual" y "según disponibilidad", y la compañía y nuestros proveedores renuncian expresamente
            a cualquier garantía y condición de cualquier tipo, ya sea expresa, implícita o legal, incluidas todas las garantías o
            condiciones de comerciabilidad, aptitud para un propósito particular, título, disfrute tranquilo, exactitud o no
            infracción. Nosotros y nuestros proveedores no garantizamos que el sitio satisfaga sus requisitos, esté disponible de
            manera ininterrumpida, oportuna, segura o libre de errores, o que sea preciso, confiable, libre de virus u otro código
            dañino, completo, legal o seguro. Si la ley aplicable requiere alguna garantía con respecto al sitio, todas esas
            garantías están limitadas en duración a noventa (90) días a partir de la fecha del primer uso</p>
            <p>Algunas jurisdicciones no permiten la exclusión de garantías implícitas, por lo que la exclusión anterior puede no ser
            aplicable en su caso. Algunas jurisdicciones no permiten limitaciones sobre la duración de una garantía implícita, por
            lo que la limitación anterior puede no ser aplicable en su caso.</p>
        </div>
        <div class="row text-center mb-2">
            <h2 class="section-subtitle mb-2">Limitación de responsabilidad</h2>
            <p>En la medida máxima permitida por la ley, en ningún caso la compañía o nuestros proveedores serán responsables ante
            usted o cualquier tercero por lucro cesante, pérdida de datos, costos de adquisición de productos de reemplazo, o
            cualquier daño indirecto, consecuente, ejemplar, incidental, especial o punitivo que surja o esté relacionado con estos
            términos o su uso, o la incapacidad de uso del sitio, incluso si la compañía ha sido informada de la posibilidad de
            tales daños. El acceso y uso del sitio son bajo su propia discreción y riesgo, y usted será el único responsable de
            cualquier daño a su dispositivo o sistema informático, o pérdida de datos que resulten de ello.</p>
            <p>En la medida máxima permitida por la ley, a pesar de cualquier disposición en contrario contenida aquí, nuestra
            responsabilidad hacia usted por cualquier daño que surja o esté relacionado con este acuerdo se limitará en todo momento
            a un máximo de cincuenta dólares estadounidenses (US$50). La existencia de más de una reclamación no ampliará este
            límite. Usted acepta que nuestros proveedores no tendrán ninguna responsabilidad de ningún tipo que surja o esté
            relacionada con este acuerdo</p>
            <p>Algunas jurisdicciones no permiten la limitación o exclusión de responsabilidad por daños incidentales o consecuentes,
            por lo que la limitación o exclusión anterior puede no ser aplicable en su caso.</p>
            <p><strong>Término y terminación.</strong> Sujeto a esta sección, estos términos permanecerán en pleno vigor y efecto mientras usted use el sitio. Podemos
            suspender o dar por terminado su derecho de uso del sitio en cualquier momento y por cualquier motivo a nuestra sola
            discreción, incluido cualquier uso del sitio que viole estos términos. Al terminar sus derechos bajo estos términos, su
            cuenta y su derecho de acceso y uso del sitio terminarán inmediatamente. Usted comprende que cualquier terminación de su
            cuenta puede implicar la eliminación de su contenido de usuario asociado con su cuenta de nuestras bases de datos
            activas. La compañía no tendrá ninguna responsabilidad hacia usted por cualquier terminación de sus derechos bajo estos
            términos. Incluso después de que sus derechos bajo estos términos sean terminados, las siguientes disposiciones de estos
            términos seguirán en vigor: Secciones 2 a 2.5, Sección 3 y Secciones 4 a 10.</p>
        </div>
        <div class="row text-center mb-2">
            <h2 class="secton-subtitle mb-2">Política de derechos de autor.</h2>
            <p>La compañía respeta la propiedad intelectual de terceros y solicita que los usuarios de nuestro sitio hagan lo mismo. En
            relación con nuestro sitio, hemos adoptado e implementado una política que respeta la ley de derechos de autor y que
            prevé la eliminación de cualquier material infractor y la terminación de los usuarios de nuestro sitio en línea que sean
            infractores reincidentes de los derechos de propiedad intelectual, incluidos los derechos de autor. Si usted cree que
            uno de nuestros usuarios está infringiendo ilegalmente los derechos de autor de una obra a través del uso de nuestro
            sitio y desea que se elimine el material presuntamente infractor, debe proporcionar la siguiente información en forma de
            una notificación por escrito (de conformidad con el título 17 del Código de los Estados Unidos, sección 512(c)) a
            nuestro Agente de Derechos de Autor designado:</p>
            <ul class="list-unstyled text-start" style="max-width:70%; margin: 0 0 0 auto;">
                <li><i class="fa-regular fa-circle-dot me-2 text-small"></i>su firma física o electrónica;</li>
                <li><i class="fa-regular fa-circle-dot me-2 text-small"></i>identificación de la(s) obra(s) con derechos de autor que usted afirma que han sido infringidos;</li>
                <li><i class="fa-regular fa-circle-dot me-2 text-small"></i>identificación del material en nuestros servicios que usted afirma que infringe los derechos de autor y que solicita que
                eliminemos;</li>
                <li><i class="fa-regular fa-circle-dot me-2 text-small"></i>información suficiente para que podamos localizar dicho material;</li>
                <li><i class="fa-regular fa-circle-dot me-2 text-small"></i>su dirección, número de teléfono y dirección de correo electrónico;</li>
                <li><i class="fa-regular fa-circle-dot me-2 text-small"></i>una declaración de que usted cree de buena fe que el uso del material objetable no está autorizado por el propietario de
                los derechos de autor, su agente o la ley; y</li>
                <li><i class="fa-regular fa-circle-dot me-2 text-small"></i>una declaración de que la información en la notificación es precisa y, bajo pena de perjurio, que usted es el
                propietario del derecho de autor que presuntamente se ha infringido o que está autorizado para actuar en nombre del
                propietario del derecho de autor.</li>
            </ul>
            <p class="mt-2">Por favor, tenga en cuenta que, de conformidad con la sección 17 U.S.C. § 512(f), cualquier tergiversación de un hecho
            material en una notificación por escrito somete automáticamente a la parte denunciante a responsabilidad por los daños,
            costos y honorarios de abogados incurridos por nosotros en relación con la notificación por escrito y la alegación de
            infracción de derechos de autor.</p>
        </div>
        <div class="row text-center mb-2">
            <h2 class="section-subtitle mb-2">General</h2>
            <p>Estos Términos están sujetos a revisiones ocasionales, y si realizamos cambios sustanciales, podemos notificarte
            enviándote un correo electrónico a la última dirección de correo electrónico que nos proporcionaste y/o publicando un
            aviso destacado de los cambios en nuestro Sitio. Eres responsable de proporcionarnos tu dirección de correo electrónico
            más actualizada. En caso de que la última dirección de correo electrónico que nos has proporcionado no sea válida,
            nuestro envío del correo electrónico que contiene dicho aviso constituirá una notificación efectiva de los cambios
            descritos en el aviso. Cualquier cambio en estos Términos será efectivo a partir del primer día de los treinta (30) días
            calendario posteriores a nuestro envío de un aviso por correo electrónico o treinta (30) días calendario posteriores a
            la publicación del aviso de los cambios en nuestro Sitio. Estos cambios serán efectivos de inmediato para los nuevos
            usuarios de nuestro Sitio. El uso continuado de nuestro Sitio después de recibir el aviso de dichos cambios indicará tu
            reconocimiento de tales cambios y tu acuerdo de cumplir con los términos y condiciones de dichos cambios.
            Resolución de disputas. Lee este Acuerdo de Arbitraje detenidamente. Forma parte de tu contrato con la Compañía y afecta
            tus derechos. Contiene procedimientos para el ARBITRAJE VINCULANTE OBLIGATORIO Y LA RENUNCIA A ACCIONES COLECTIVAS.</p>
            <p><strong>Aplicabilidad del Acuerdo de Arbitraje.</strong> Todas las reclamaciones y disputas relacionadas con los
            Términos o el uso de cualquier producto o servicio proporcionado por la Compañía que no se puedan resolver de manera
            informal o en un tribunal de reclamos menores se resolverán mediante arbitraje vinculante a nivel individual de acuerdo
            con los términos de este Acuerdo de Arbitraje. A menos que se acuerde lo contrario, todas las actuaciones de arbitraje
            se llevarán a cabo en inglés. Este Acuerdo de Arbitraje se aplica a ti y a la Compañía, así como a cualquier
            subsidiaria, afiliado, agente, empleado, predecesor en interés, sucesor y cesionario, así como a todos los usuarios o
            beneficiarios autorizados o no autorizados de servicios o productos proporcionados en virtud de los Términos.</p>
            <p><strong>Requisito de Aviso y Resolución Informal de Disputas.</strong> Antes de que cualquiera de las partes pueda
            solicitar el arbitraje, dicha parte debe enviar primero a la otra parte un Aviso de Disputa por escrito que describa la
            naturaleza y base de la reclamación o disputa, así como el alivio solicitado. Un Aviso a la Compañía debe enviarse a:
            Córdoba, Argentina. Después de que se reciba el Aviso, tú y la Compañía pueden intentar resolver la reclamación o
            disputa de manera informal. Si tú y la Compañía no resuelven la reclamación o disputa dentro de los treinta (30) días
            posteriores a la recepción del Aviso, cualquiera de las partes puede iniciar un proceso de arbitraje. La cantidad de
            cualquier oferta de acuerdo realizada por cualquiera de las partes no podrá revelarse al árbitro hasta que el árbitro
            haya determinado el monto de la indemnización a la que tiene derecho cada una de las partes. .</p>
            <p><strong>Reglas de Arbitraje.</strong> El arbitraje se llevará a cabo a través de la American Arbitration Association
            (Asociación Americana de Arbitraje), un proveedor establecido de resolución alternativa de disputas que ofrece arbitraje
            según lo establecido en esta sección. Si la AAA no está disponible para arbitrar, las partes acordarán seleccionar un
            Proveedor de ADR alternativo. Las reglas del Proveedor de ADR regirán todos los aspectos del arbitraje, excepto en la
            medida en que dichas reglas estén en conflicto con los Términos. Las Reglas de Arbitraje para Consumidores de la AAA que
            rigen el arbitraje están disponibles en línea en adr.org o llamando a la AAA al 1-800-778-7879. El arbitraje será
            llevado a cabo por un solo árbitro neutral. Cualquier reclamación o disputa en la que el monto total de la indemnización
            solicitada sea inferior a diez mil dólares estadounidenses (US $10,000.00) podrá resolverse mediante un arbitraje no
            presencial y vinculante, a elección de la parte que busca el resarcimiento. Para reclamaciones o disputas en las que el
            monto total de la indemnización solicitada sea de diez mil dólares estadounidenses (US $10,000.00) o más, el derecho a
            una audiencia se determinará según las Reglas de Arbitraje. Cualquier audiencia se llevará a cabo en un lugar ubicado a
            menos de 100 millas de tu lugar de residencia, a menos que residas fuera de los Estados Unidos y a menos que las partes
            acuerden lo contrario. Si resides fuera de los Estados Unidos, el árbitro deberá notificar razonablemente a las partes
            la fecha, hora y lugar de cualquier audiencia oral. Cualquier fallo emitido por el árbitro puede ser registrado en
            cualquier tribunal competente. Si el árbitro te otorga una indemnización mayor que la última oferta de acuerdo que la
            Compañía te haya hecho antes de iniciar el arbitraje, la Compañía te pagará el monto mayor entre la indemnización y
            $2,500.00. Cada parte asumirá sus propios costos y gastos derivados del arbitraje y pagará una parte igual de las tarifas y costos del Proveedor de ADR.</p>
            <p><strong>Reglas Adicionales para Arbitraje no Presencial.</strong> Si se elige el arbitraje no presencial, este se
            llevará a cabo por teléfono, en línea y/o basado únicamente en presentaciones escritas; la forma específica será elegida
            por la parte que inicie el arbitraje. El arbitraje no implicará la comparecencia personal de las partes o testigos, a
            menos que las partes acuerden lo contrario.</p>
            <p><strong>Límites de Tiempo.</strong> Si tú o la Compañía optan por el arbitraje, la acción de arbitraje debe ser iniciada
            y/o demandada dentro del plazo de prescripción y dentro de cualquier fecha límite impuesta por las Reglas de la AAA para
            la reclamación pertinente.</p>
            <p><strong>Autoridad del Árbitro.</strong> Si se inicia el arbitraje, el árbitro decidirá los derechos y responsabilidades
            entre tú y la Compañía, y la disputa no se consolidará con ningún otro asunto ni se unirá a otros casos o partes. El
            árbitro tendrá la autoridad para conceder mociones que resuelvan total o parcialmente cualquier reclamación. El árbitro
            tendrá la autoridad para otorgar daños y perjuicios monetarios y conceder cualquier remedio o alivio no monetario
            disponible para un individuo según la ley aplicable, las Reglas de la AAA y los Términos. El árbitro emitirá un laudo
            por escrito y una declaración de decisión que describa los hallazgos y conclusiones esenciales en los que se basa el
            laudo. El árbitro tiene la misma autoridad para otorgar alivio de manera individual que un juez en un tribunal de
            justicia. El laudo del árbitro es definitivo y vinculante para ti y la Compañía.</p>
            <p><strong>Renuncia al Juicio por Jurado.</strong> LAS PARTES RENUNCIAN A SUS DERECHOS CONSTITUCIONALES Y LEGALES DE IR A
            JUICIO Y TENER UN JUICIO ANTE UN JUEZ O UN JURADO, optando en su lugar porque todas las reclamaciones y disputas sean
            resueltas mediante arbitraje bajo este Acuerdo de Arbitraje. Los procedimientos de arbitraje suelen ser más limitados,
            más eficientes y menos costosos que las reglas aplicables en un tribunal, y están sujetos a una revisión muy limitada
            por parte de un tribunal. En caso de que surja cualquier litigio entre tú y la Compañía en cualquier tribunal estatal o
            federal en un caso para anular o hacer cumplir un laudo arbitral o de otra manera, TÚ Y LA COMPAÑÍA RENUNCIAN A TODOS
            LOS DERECHOS A UN JUICIO POR JURADO, optando en su lugar porque la disputa sea resuelta por un juez.</p>
    
            <p><strong>Renuncia a Acciones Colectivas o Consolidadas.</strong> Todas las reclamaciones y disputas dentro del alcance de
            este acuerdo de arbitraje deben ser arbitrajes o litigadas de manera individual y no en forma colectiva, y las
            reclamaciones de más de un cliente o usuario no pueden ser arbitrajes o litigadas conjunta o consolidadamente con las de
            cualquier otro cliente o usuario.</p>
    
            <p><strong>Divisibilidad.</strong> Si alguna parte o partes de este Acuerdo de Arbitraje se consideran inválidas o
            inaplicables según la ley por un tribunal competente, dicha parte o partes específicas no tendrán fuerza ni efecto y
            serán separadas, mientras que el resto del Acuerdo continuará en pleno vigor y efecto.</p>
    
            <p><strong>Derecho a Renunciar.</strong> Cualquiera o todos los derechos y limitaciones establecidos en este Acuerdo de
            Arbitraje pueden ser renunciados por la parte contra la cual se presenta la reclamación. Dicha renuncia no afectará ni
            eximirá ninguna otra parte de este Acuerdo de Arbitraje.</p>
    
            <p><strong>Vigencia del Acuerdo.</strong> Este Acuerdo de Arbitraje sobrevivirá a la terminación de tu relación con la
            Compañía.</p>
    
            <p><strong>Juzgado de Pequeñas Demandas.</strong> No obstante lo anterior, tanto tú como la Compañía pueden presentar una
            acción individual en un juzgado de pequeñas demandas.</p>
    
            <p><strong>Medidas Cautelares de Emergencia.</strong> Sin perjuicio de lo anterior, cualquiera de las partes puede
            solicitar medidas cautelares de emergencia ante un tribunal estatal o federal para mantener el statu quo mientras se
            lleva a cabo el arbitraje. Una solicitud de medidas provisionales no se considerará una renuncia a ningún otro derecho u
            obligación en virtud de este Acuerdo de Arbitraje.</p>
    
            <p><strong>Reclamaciones no sujetas a Arbitraje.</strong> No obstante lo anterior, las reclamaciones por difamación,
            violación de la Ley de Fraude y Abuso Informático, y violación o apropiación indebida de las patentes, derechos de
            autor, marcas comerciales o secretos comerciales de la otra parte no estarán sujetas a este Acuerdo de Arbitraje.</p>
    
            <p>En cualquier circunstancia en la que el Acuerdo de Arbitraje anterior permita a las partes litigar en un tribunal, las
            partes acuerdan someterse a la jurisdicción personal de los tribunales ubicados en el condado de California para tales
            fines.</p>
    
            <p>El Sitio puede estar sujeto a las leyes de control de exportación de los Estados Unidos y puede estar sujeto a
            regulaciones de exportación o importación en otros países. Aceptas no exportar, reexportar o transferir, directa o
            indirectamente, ningún dato técnico de los Estados Unidos adquirido de la Compañía, ni ningún producto que utilice
            dichos datos, en violación de las leyes o regulaciones de exportación de los Estados Unidos.</p>
    
            <p>La Compañía tiene su sede en la dirección indicada en la Sección 10.8. Si eres residente de California, puedes presentar
            quejas ante la Unidad de Asistencia de Quejas de la División de Productos de Consumo del Departamento de Asuntos del
            Consumidor de California, comunicándote por escrito a 400 R Street, Sacramento, CA 95814, o por teléfono al (800)
            952-5210.</p>
    
            <p><strong>Comunicaciones Electrónicas.</strong> Las comunicaciones entre tú y la Compañía se realizan mediante medios
            electrónicos, ya sea que utilices el Sitio, nos envíes correos electrónicos, o que la Compañía publique avisos en el
            Sitio o se comunique contigo por correo electrónico. Con fines contractuales, (a) aceptas recibir comunicaciones de la
            Compañía en forma electrónica; y (b) aceptas que todos los términos y condiciones, acuerdos, avisos, divulgaciones y
            otras comunicaciones que la Compañía te proporcione electrónicamente satisfacen cualquier obligación legal que dichas
            comunicaciones cumplirían si estuvieran en forma escrita en papel.</p>
    
            <p><strong>Términos Completos.</strong> Estos Términos constituyen el acuerdo completo entre tú y nosotros con respecto al
            uso del Sitio. Nuestra falta de ejercicio o aplicación de cualquier derecho o disposición de estos Términos no se
            interpretará como una renuncia a dicho derecho o disposición. Los títulos de sección en estos Términos son solo por
            conveniencia y no tienen efecto legal o contractual. La palabra "incluyendo" significa "incluyendo, pero no limitado a".
            Si alguna disposición de estos Términos se considera inválida o inaplicable, las demás disposiciones de estos Términos
            no se verán afectadas y la disposición inválida o inaplicable se considerará modificada para que sea válida y aplicable
            en la medida máxima permitida por la ley. Tu relación con la Compañía es la de un contratista independiente y ninguna de
            las partes es agente o socia de la otra. Estos Términos, y tus derechos y obligaciones en virtud de los mismos, no
            pueden ser cedidos, subcontratados, delegados o transferidos por ti sin el consentimiento previo por escrito de la
            Compañía, y cualquier intento de cesión, subcontrato, delegación o transferencia en violación de lo anterior será nulo y
            sin efecto. La Compañía puede ceder libremente estos Términos. Los términos y condiciones establecidos en estos Términos
            serán vinculantes para los cesionarios.</p>
    
            <p><strong>Tu Privacidad.</strong> Por favor, lee nuestra Política de Privacidad.</p>
    
            <p><strong>Derechos de Autor/Información de Marcas Comerciales.</strong> Copyright ©. Todos los derechos reservados. Todas
            las marcas comerciales, logotipos y marcas de servicio mostradas en el Sitio son nuestra propiedad o propiedad de otros
            terceros. No se te permite utilizar estas Marcas sin nuestro consentimiento previo por escrito o el consentimiento del
            tercer tercero que pueda ser dueño de las Marcas.</p>
    
        </div>
        <div class="row text-center mb-2">
            <h2 class="section-subtitle mb-2">Informacion de contacto</h2>
            <div class="col-4 px-0">
                <a href="#" class="links-social twitter"><i class="fa-brands fa-twitter fs-2"></i> <br> Twitter</a>
              </div>
              <div class="col-4 position-relative px-0">
                <a href="#" class="links-social instagram"><i class="fa-brands fa-instagram fs-2"></i><br>Instagram</a>
              </div>
              <div class="col-4 position-relative px-0">
                <a href="#" class="links-social facebook"><i class="fa-brands fa-facebook fs-2"></i><br>Facebook</a>
              </div>
            </div>
        </div>

    </div>
</section>
{% endblock content %}