{% extends "main.html" %}
{% load i18n %}
{% block title %}{% translate 'Confirmacion para recuperar su contraseña /'%}{% endblock title %}

{% block content %}
<div class="bg-nav-secondary"></div>
<div class="container text-center d-block justify-content-center">
    <div class="row">
        <h3 class="home-subtitle h3 my-5"> Restablecer Constaseña</h3>

    </div>
    <div class="row mb-5">
        <form action="" method="post" class="">
            {% csrf_token %}
            <div class="row">
                <div class="mb-3 ">
                    <label for="id_password1" class="form-label h5 ">Nueva constraseña</label>
                    <input type="password" name="password1" id="id_password1" required
                        class="form-control border border-secondary border-2 rounded-3 text-dark"
                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip"
                        data-html="true"
                        data-bs-title="Your password can’t be too similar to your other personal information.
                        Must contain at least 8 characters. Can’t be a commonly used password. Can’t be entirely numeric."
                        placeholder="La nueva contraseña que usted desea">
                </div>
                <div class="mb-3">
                    <label for="id_password2" class="form-label h5 ">Confirmar nueva contraseña</label>
                    <input type="password" name="password2" id="id_password2" required
                        class="form-control border border-secondary border-2 rounded-3 text-dark"
                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip"
                        data-html="true" data-bs-title="Repeat password to check that be equals"
                        placeholder="Repetir la nueva contraseña">
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <br>
                {{form.captcha}}
                <button type="sumbit" class="btn btn-outline-primary my-5 ms-3 w-100">Confirmar</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}